@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Karla:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  font-family: Karla, sans-serif;
  padding: 0;
}

ul li {
  list-style-type: none;
}

select {
  width: auto;
  padding: 8px;
  margin: 10px;
  font-family: Karla, sans-serif;
  font-weight: bold;
  font-size: 16px;
  outline: none;
  border: none;
  background-color: #11193d;
  color: #f5f7fb;
  border-radius: 10px;
}

.welcome-page,
.test-page {
  background-color: #f5f7fb;
  min-height: 100vh;
  background-image: url("./images/yellow-blob.png"), url("./images/blue-blob.png");
  background-repeat: no-repeat;
  background-position: right top, left bottom;
  display: flex;
  flex-direction: column;
}

.welcome-page {
  justify-content: center;
  align-items: center;
}

.test-page {
  padding: 80px;
  align-items: left;
}

.welcome-page > h1 {
  font-size: 31.25px;
  color: #293264;
  margin: 10px;
}

.welcome-page > button {
  background: #4d5b9e;
  border-radius: 15px;
  padding: 10px;
  margin-top: 20px;
  border: 3px solid transparent;
  width: 200px;
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #f5f7fb;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.welcome-page > button:hover {
  border: 3px solid#11193d;
  transition: all 200ms ease-in-out;
}

.hr {
  width: 115%;
  height: 0;
  border: 0.01px solid #dbdef0;
}

.question {
  width: 90%;
  margin-bottom: 30px;
}

.question > h3 {
  font-weight: 700;
  width: 100%;
  font-size: 1.2em;
  line-height: 19px;
  color: #293264;
}

.question > ul {
  display: flex;
  flex-wrap: wrap;
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: #151e50;
  justify-content: left;
  width: 100%;
  margin: 18px 0 22px;
  opacity: 0.6;
}

.question > ul > li {
  border: 0.8px solid #4d5b9e;
  border-radius: 8px;
  padding: 5px 20px;
  cursor: pointer;
  margin: 10px;
  transition: all 400ms ease-in-out;
}

.question > ul > li:hover {
  color: #091135;
  border: 0.8px solid #171d35;
  transition: all 400ms ease-in-out;
}

.selected,
.correct,
.wrong {
  color: #293264;
}

.selected {
  background-color: #d6dbf5;
}

.correct {
  background-color: #94d7a2;
}

.wrong {
  background-color: #f8bcbc;
}

.notice {
  font-weight: bold;
  text-align: center;
  margin: 20px;
  color: #091135;
}

.submit {
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  border-radius: 10px;
  border: 3px solid #091135;
  color: black;
}
